header {
  color: white;
  text-align: center;
  font-family: monospace, sans-serif;
}

header > h1 {
  font-size: 40px;
  font-weight: 900;
  text-shadow: 10px 10px 10px grey;
}

header > p {
  margin-top: -20px;
  font-size: 30px;
  text-shadow: 10px 10px 10px skyblue;
}

@media only screen and (max-width: 1024px) {
  header > h1 {
    font-size: 30px;
    font-weight: 900;
    margin-bottom: 30px;
    text-shadow: 10px 10px 10px grey;
  }
  
  header > p {
    margin-top: -20px;
    font-size: 15px;
    text-shadow: 10px 10px 10px skyblue;
  }
}